@tailwind base;
@tailwind components;
@tailwind utilities;

div{
    height: 100%;
}

/* Zorg dat autofill achtergrond transparant is */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: black !important; /* Zorg dat de tekstkleur correct blijft */
    transition: background-color 5000s ease-in-out 0s; /* Onderdrukt standaard browser kleuren */
}

/* Optioneel: voeg compatibiliteit voor andere browsers toe */
input:-moz-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -moz-text-fill-color: black !important;
}

input:-ms-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important;
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px; /* Pas de breedte aan voor je gewenste grootte */
    height: 12px; /* Pas de hoogte aan voor je gewenste grootte */
    transform: translate(-50%, -50%);
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 13" fill="none"%3E%3Cpath d="M1 6L5.34783 11L11 1" stroke="white" stroke-width="2"/%3E%3C/svg%3E') no-repeat center center;
    background-size: contain;
    display: block;
}

select {
    appearance: none; /* Verwijder standaard browserstijl */
    background: url('data:image/svg+xml;charset=US-ASCII,<svg  width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L7 7L13 1" stroke="black" stroke-width="1.5"/></svg>') no-repeat right 12px center;
}

html {
    overflow: -moz-scrollbars-none; /* Voor oudere Firefox */
    -ms-overflow-style: none; /* Voor IE/Edge */
}

body::-webkit-scrollbar {
    display: none; /* Voor WebKit-browsers zoals Chrome/Safari */
}
